:host {
  display: grid;
  grid-gap: 5px;
  height: 100%;
  min-height: 100vh;
  grid-template-areas: "header" "nav" "main" "sidebar" "footer";
  grid-template-columns: 1fr;
  grid-template-rows:
    var(--header-height) var(--nav-size) auto var(--sidebar-size)
    var(--header-height);

  --header-height: clamp(50px, 10vh, 70px);
  --header-padding: 10px;
  --nav-size: clamp(50px, 70px, 20vh);
  --sidebar-size: clamp(1px, 1px, 15vh);
  --header-color: #d7e6ed;
  --footer-colot: #d7e6ed;
  --main-color: white;
  --bg-color: #f5f5ef;
  --button-color: #cddefb;
  --answer-button-color: white;
  --answer-button-bg-color: lightgreen;
}
.app-header {
  height: var(--header-height);
  word-wrap: break-word;
  grid-area: header;
  background-color: var(--header-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.app-header h1 {
  font-size: clamp(1rem, 0.4512rem + 2.439vw, 3.5rem);
}
.app-nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.app-main {
  flex-grow: 1;
  grid-area: main;
  background-color: var(--main-color);
}
.app-footer {
  height: var(--header-height);
  padding: var(--header-padding);
  grid-area: footer;
  background-color: var(--footer-colot);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app__exrcs-card {
  background-color: var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  flex: 0 0 30%;
  cursor: pointer;
  text-align: center;
  border: 1px solid;
}

.app__exrcs-card:focus {
  outline: none;
}
.app__exrcs-card._active {
  border: 2px solid grey;
  background-color: #629bfb;
  color: white;
}
.btn {
  line-height: 30px;
  cursor: pointer;
  margin: 5px;
  max-width: 200px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: 15px;
  border: 1px solid;
}
.btn._active {
  background-color: lightseagreen;
  color: white;
}
.btn:hover {
  border: 1px solid;
}
.btn:focus {
  border: 1 solid;
  outline: none;
}
.btn._disabled {
  background-color: grey;
  pointer-events: none;
  cursor: default;
}
